* {
  box-sizing: border-box;
}

section h2 {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #9a9a9a;
}

.nw-blue {
  color: #3581f4;
}

.nw-red {
  color: #f72210;
}

img {
  width: 100%;
}

article figure {
  position: relative;
}

figure figcaption {
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  text-transform: uppercase;
  background: white;
  font-weight: 900;
}

a {
  color: #000;
}

.no-underline {
  text-decoration: none;
}

.hover-underline-red:hover {
  color: #000;
  text-decoration: underline #f72210;
}

a.hover-red:hover {
  color: #f72210;
}

article p {
  font-size: 0.9rem;
}

article {
  border: 1px solid #e6e6e6;
}

nav.navbar {
  background-color: #f72210 !important;
  min-height: 10em;
}

.bottom-nav {
  position: absolute;
  margin: 0;
  min-width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  background: #fff;
  padding: 1em 0 1em 1em;
}

.bottom-nav li {
  float: left;
  flex-grow: 1;
  position: relative;
  border-left: 1px solid #d9d9d9;
  text-align: center;
}

input.no-border-outline {
  outline: none;
  border: 0;
  width: 4em;
}

span.poligon {
  background: linear-gradient(to left bottom, #f72210 10%, #fff);
  position: absolute;
  right: 0;
  top: -16px;
  display: block;
  height: 20px;
  width: 142px;
}

footer img {
  width: 50%;
}

footer .social-container {
  display: flex;
}

footer#main-footer ul {
  display: flex;
  flex-wrap: wrap;
}

footer#main-footer .footer-info-links li {
  flex-grow: 1;
}
